.App {
  max-width: 800px;
  margin: 40px auto 40px;
  text-align: center;
}

h1 {
  font-size: 30px;
}

textarea {
  width: 100%;
  min-height: 200px;
  margin: 20px 0 40px;
  padding: 6px;
}

pre {
  text-align: left;
  background: #f7f7f7;
  padding: 6px;
}

.view-in-github {
  display: inline-block;
  position: fixed;
  top: 36px;
  right: -13px;
  padding: 16px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  transform: rotate(45deg);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}

.view-in-github:after {
  content: '';
  position: absolute;
  height: 30px;
  border: 114px solid transparent;
  border-bottom: 114px solid #1f1f1f;
  top: -211px;
  left: -27px;
  z-index: -1;
}
