.App {
  max-width: 800px;
  margin: 40px auto 40px;
  text-align: center;
}

h1 {
  font-size: 30px;
}

textarea {
  width: 100%;
  min-height: 200px;
  margin: 20px 0 40px;
  padding: 6px;
}

pre {
  text-align: left;
  background: #f7f7f7;
  padding: 6px;
}
